
@{
    ViewBag.Title = "_MasterLayout";
}

<!DOCTYPE html>

<html ng-app="EmpiredWeb">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empired Web</title>
    @Styles.Render("~/Content/css")
</head>
<body>

        @RenderSection("content" , false)
        
</body>
</html>

