
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
@section Content{
<h2>Products</h2>
<ul>
    @foreach (var product in Model)
    {
        <li>@product.Name</li>
    }
</ul>
    }
